.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.header {
  background-color: lightcyan;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.actions ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}
.actions li{
    color: white;
    background-color: royalblue;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.sidebar {
  background-color: lightgreen;
  grid-row: 1/3;
  display: grid;
  grid-template-rows: 50px 1fr 1fr;
  gap: 15px;
}
.dashboard{
    padding: 15px 0 0 15px;
}
.nav ul{
    display: grid;
    gap:5px;
    padding-left: 15px;
}
.settings ul{
    display: grid;
    gap:5px;
    padding-left: 15px;
}
.nav{
    background-color: lightgrey;
}

.settings{
    background-color: lightpink;
}

.content {
  background-color: coral;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-template-rows: repeat(auto-fill,minmax(250px,1fr));
    gap:5px;
}
.card{
    text-align: center;
    background-color: white;
}
.announcements{
    display: grid;
    grid-template-rows: 1fr 25px 1fr;
}
.announcementContainer{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px;
}
#trendingHeader{
    font-size: 20px;
    text-align: center;

}
.trendingContainer{
    display: grid;
    grid-template-rows: 50px repeat(auto-fill,minmax(75px, 1fr));
    gap: 5px;
}
.smallCard{
    height:125px;
    background-color: aquamarine;
}
.tinyCard{
    background-color: blanchedalmond;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#search{
    border-radius: 15px;
}
